.vs
WeChatMiniProgram/miniprogram/**/*.js
WeChatMiniProgram/node_modules/
bin/
upload/
obj/
Debug/
Release/
.DotSettings.user
appsettings.json
Log/
*.orig
/WeChatMiniProgram/miniprogram/config/config.wxs
/WeChatMiniProgram/miniprogram/config/config.ts
/WeChatMiniProgram/project.config.json
ui/src/config/index.js
OnlineAssessment/ReplyVideo/
.idea/
OnlineAssessment/UnZip/
ui/src/config/index.js.local.template
